﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>分數代碼查詢</p>
<form method="post" action="@Url.Action("Index")">
    請輸入分數 <input type="text" name="score" value="" />
    <input type="submit" value="送出" />
</form>
<br />
查詢結果<br/>
分數： @ViewBag.Score <br />
代碼： @ViewBag.level