﻿@model _0418.ViewModel.BMIData
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ol>
    <form method="post" action="@Url.Action("Index")">
        @Html.DisplayNameFor(m => m.Height)
        @Html.TextBoxFor(m => m.Height)公分 @ViewBag.HeightError<br />
        @Html.ValidationMessageFor(modelItem => Model.Height)

        @Html.DisplayNameFor(m => m.Weight)
        @Html.TextBoxFor(m => m.Weight)公斤 @ViewBag.WeightError<br />
        @Html.ValidationMessageFor(modelItem => Model.Weight)

        <input type="submit" value="送出" />
    </form>
    <br />
    計算結果： @Model.BMI
    <br />
    等級： @Model.Level
</ol>

